# OS
.DS_Store
Thumbs.db

# Node / TypeScript
node_modules/
**/node_modules/
**/dist/
**/.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env
.env
.env.*
.env.local

# Coverage / Build artifacts
coverage/
.nyc_output/

# Editor
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json


